---
import MainLayout from "../../layouts/main.astro"
import { formatDate, getArticles } from "../../utils";
import Tags from "../../components/Tags.astro";

const {slug} = Astro.params

if(slug === undefined){
    throw new Error("Not found");
}

const entries = await getArticles();

const entry = entries.find(entry => entry.slug == slug);

if(entry === undefined){
    return Astro.redirect('/404')
}

// ----static website-------

// export async function  getStaticPaths() {
//     const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog')
//     return allBlogArticles.map(entry => ({
//         params:{
//             slug: entry.slug
//         },
//         props: {entry}
//     }))
// }

// const {entry} = Astro.props

---
<MainLayout>
    <h1>{entry.title}</h1>
    <a href="/articles" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white">Back To Articles</a>
    <article>
        <h1 class="text-4xl font-bold mb-2"> {entry.title}</h1>
        <h3 class="text-lg mb-2">Written by {entry.author} on  {formatDate(entry.pubDate)}}</h3>
        <Tags tags={entry.tags}/>
        <img src={entry.imageUrl} alt="Article Image" class="w-full h-auto rounded-xl mb-6" />
        <div set:html={entry.html}/>
    </article>
</MainLayout>

<style is:global>
    p{
        margin: 20px 0px;
    }
</style>