---
import MainLayout from '../layouts/main.astro'
import Image from 'astro/components/Image.astro'
import SearchForm from '../components/SearchForm.astro'
import MostRecentArticle from '../components/MostRecentArticle.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { HOMEPAGE_ARTICLE_LIMIT } from '../constants';
import {formatDate, type ArticleX} from '../utils'
import { createClient } from '@supabase/supabase-js'
import Tags from "../components/Tags.astro"
import gm from 'gray-matter'
import { remark } from 'remark';
import html from 'remark-html';
import {getArticles} from '../utils.ts'


const allBlogCollections : ArticleX[] = (await getArticles())
.sort((a : ArticleX, b : ArticleX) => b.pubDate.valueOf()-a.pubDate.valueOf()
)

const mostRecentArticle :ArticleX = allBlogCollections[0]

const otherArticles : ArticleX[] = allBlogCollections.slice(1)

let tagCollection : string[] = [];
allBlogCollections.map(article => tagCollection.concat(article.tags))
let tagSet = new Set(tagCollection);


---
<MainLayout title='Recipe for disaster'>
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
        Articles, Stories & Tutorials for Tech People
      </h1>
      <SearchForm/>
    </div>
    <!-- Most Recent Article -->
    <MostRecentArticle article={mostRecentArticle}/>
  </div>
      <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {otherArticles.slice(0,HOMEPAGE_ARTICLE_LIMIT).map(article => (
      <div class="max-w-md mx-auto mt-10">
      <div class="bg-white rounded-lg overflow-hidden shadow-lg">
        <a href={"/articles/"+article.slug}>
          <img
            src={article.imageUrl}
            alt="Article Image"
            class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
          />
        </a>
        <div class="p-6">
          <h2 class="text-2xl font-semibold mb-2">
            <a href={"/articles/"+article.slug}> {article.title} </a>
          </h2>
          <p class="text-gray-600 text-sm mb-4">{formatDate(article.pubDate)}</p>
          <Tags tags={article.tags}/>
        </div>
      </div>
      </div>
    ))}
  </div>


</MainLayout>
      <!-- Top Grid -->
      