---
import MainLayout from '../layouts/main.astro'
import Image from 'astro/components/Image.astro'
import SearchForm from '../components/SearchForm.astro'
import MostRecentArticle from '../components/MostRecentArticle.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { HOMEPAGE_ARTICLE_LIMIT } from '../constants';
import {formatDate} from '../utils'
import Tags from "../components/Tags.astro"
const allBlogCollections : CollectionEntry<'blog'>[] = (await getCollection('blog'))
.sort((a : CollectionEntry<'blog'>, b : CollectionEntry<'blog'>) => b.data.pubDate.valueOf()-a.data.pubDate.valueOf()
)

const mostRecentArticle :CollectionEntry<'blog'> = allBlogCollections[0]

const otherArticles : CollectionEntry<'blog'>[] = allBlogCollections.slice(1)

let tagCollection : string[] = [];
allBlogCollections.map(article => tagCollection.concat(article.data.tags))
let tagSet = new Set(tagCollection);
---
<MainLayout title='Recipe for disaster'>
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
        Articles, Stories & Tutorials for Tech People
      </h1>
      <SearchForm/>
    </div>
    <!-- Most Recent Article -->
    <MostRecentArticle article={mostRecentArticle}/>
  </div>
      <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {otherArticles.slice(0,HOMEPAGE_ARTICLE_LIMIT).map(article => (
      <div class="max-w-md mx-auto mt-10">
      <div class="bg-white rounded-lg overflow-hidden shadow-lg">
        <a href={"/articles/"+article.slug}>
          <img
            src={"/images/"+article.data.image}
            alt="Article Image"
            class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
          />
        </a>
        <div class="p-6">
          <h2 class="text-2xl font-semibold mb-2">
            <a href={"/articles/"+article.slug}> {article.data.title} </a>
          </h2>
          <p class="text-gray-600 text-sm mb-4">{formatDate(article.data.pubDate)}</p>
          <Tags tags={article.data.tags}/>
        </div>
      </div>
      </div>
    ))}
  </div>


</MainLayout>
      <!-- Top Grid -->
      